@page
@model BankProject.Pages.CustomerSystem.CustomersModel
@{
}
<div class="container p-3">
    <div class="row">
        <div class="col">
			<h1>All customers</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">
							Customer Name
							<a asp-page="/CustomerSystem/Customers"
							   asp-route-sortColumn="Givenname"
							   asp-route-sortOrder="asc"
							   style="text-decoration:none">
								<i class="fa-solid fa-angle-up"></i>
							</a>
							<a asp-page="/CustomerSystem/Customers"
							   asp-route-sortColumn="Givenname"
							   asp-route-sortOrder="desc"
							   style="text-decoration:none">
								<i class="fa-solid fa-angle-down"></i>
							</a>
						</th>
						<th scope="col">Surname</th>
						<th scope="col">Streetaddress</th>
						<th scope="col">
							Customer City
							<a asp-page="/CustomerSystem/Customers"
							   asp-route-sortColumn="City"
							   asp-route-sortOrder="asc"
							   style="text-decoration:none">
								<i class="fa-solid fa-angle-up"></i>
							</a>
							<a asp-page="/CustomerSystem/Customers"
							   asp-route-sortColumn="City"
							   asp-route-sortOrder="desc"
							   style="text-decoration:none">
								<i class="fa-solid fa-angle-down"></i>
							</a>
						</th>
						<th scope="col">NationalId</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					@foreach (var cust in Model.Customers.Results)
					{
						<tr>
							<td>@cust.CustomerId</td>
							<td>@cust.Givenname</td>
							<td>@cust.Surname</td>
							<td>@cust.Streetaddress</td>
							<td>@cust.City</td>
							<td>@cust.NationalId</td>
							<td><a asp-page="/CustomerDetails" asp-route-customerId="@cust.CustomerId" class="btn btn-primary">View</a></td>
						</tr>
					}
					<tr>
						<td>
							@if (Model.CurrentPage != 1)
							{
								<a class="btn btn-secondary"
								   asp-page="/CustomerSystem/Customers"
								   asp-route-sortColumn="@Model.SortColumn"
								   asp-route-sortOrder="@Model.SortOrder"
								   asp-route-pageNo="@(Model.CurrentPage-1)">
									Prev
								</a>
							}
						</td>
						<td colspan="2">
							@if (Model.PageCount > 10)
							{
								@for (int i = Math.Max(1, Model.CurrentPage - 4); i <= Math.Min(Model.CurrentPage + 5, Model.PageCount); i++)
								{
									<a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")"
									   asp-page="/CustomerSystem/Customers"
									   asp-route-sortColumn="@Model.SortColumn"
									   asp-route-sortOrder="@Model.SortOrder"
									   asp-route-pageNo="@i">
										@i
									</a>
								}
							}
							else
							{
								@for (int i = 1; i <= Model.PageCount; i++)
								{
									<a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")"
									   asp-page="/CustomerSystem/Customers"
									   asp-route-sortColumn="@Model.SortColumn"
									   asp-route-sortOrder="@Model.SortOrder"
									   asp-route-pageNo="@i">
										@i
									</a>
								}
							}

						</td>
						<td>
							@if (Model.CurrentPage != Model.PageCount)
							{
								<a class="btn btn-secondary"
								   asp-page="/CustomerSystem/Customers"
								   asp-route-sortColumn="@Model.SortColumn"
								   asp-route-sortOrder="@Model.SortOrder"
								   asp-route-pageNo="@(Model.CurrentPage + 1)">
									Next
								</a>
							}
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>